<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISolicitudServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:29231/SolicitudServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolicitudServicio"
                contract="Services.SolicitudServicio.ISolicitudServicio" name="BasicHttpBinding_ISolicitudServicio" />
        </client>
    </system.serviceModel>
</configuration>